body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


/* Style de chaque colonne individuellement */
#colonne1 {
  float: left; /* Les colonnes flottent à gauche */
  width: 100%;
  box-sizing: border-box; /* Inclut la bordure dans la largeur */
  height: 100%;
  color: rgb(255, 255, 255);
  /* background-color: #222831; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: auto;
  padding: 10px;
  height: 100%;
}

#colonne2 {
  width: 100%;
  float: left;
  height: 100%;
  border: 1px solid #2c0ac5;
  background-color: #F2F2F2;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: auto;
  
}

#colonne2 h2{
  border-top: none;
  margin-top: 0;
}

#colonne3 {
  width: 100%;
  height: 100%;
  float: left;
  color: #393E46;
  background-color: #81D4FA;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: auto;
}

.form-list {
  list-style: none;
  padding: 0;
}

ul.form-list label {
  display: block;
  margin-bottom: 5px;
  width: fit-content;
}

ul.form-list input,
ul.form-list select {
  width: 50%;
  padding: 8px;
  margin-bottom: 5px;
}

ul.form-list button {
  padding: 6px;
  margin-top: 5px;
}

.jstree-calendrier_icon {
  background-image: url("calendrier_icon.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.sys_tabs {
  width: 80%;
  margin: 0 auto;
}

.tab-label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #f0f0f0;
  transition: background-color 0.3s;
}

.tab-label:hover {
  background-color: #e0e0e0;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .tab-label {
  background: white;
  border-bottom: 1px solid white;
  font-weight: bold;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

/* Styles pour les sections de texte */
.greet {
  font-size: 1.5em;
  color: #801212;
}

.activity {
  font-size: 1.2em;
  color: #2512d1;
}

/* Styles spécifiques pour GoldenLayout */
h2{
  font: 14px Arial, sans-serif;
  color:#000000;
  padding: 10px;
  text-align: center;
}

html, body{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #c48585;
}

#menuContainer{
  width: auto;
  position:absolute;
  background: #fdfdfd;
  color: #000000;
}

#menuContainer li{
  border-bottom: 1px solid #472d2d;
  border-top: 1px solid #dfd1d1;
  cursor: pointer;
  padding: 10px 5px;
  color: #c70202;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover{
  background: #b37f7f;
  color: #CCC;
}

#layoutContainer{
  width: 100%;
  height: 10%;
  position:absolute;
  top: 0;
  /* left: 20%; */
  box-shadow: -3px 0px 9px 0px rgba(139, 139, 139, 0.4);
}

/* #layoutContainer{
  width: 80%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 20%;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
} */

.elem1, .elem2, .elem3 {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9;
}

/* Styles pour les sections de texte */
.greet {
  font-size: 1.5em;
  color: #333;
}

.activity {
  font-size: 1.2em;
  color: #666;
}
